@page
@{
    ViewData["Title"] = "Main Menu";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Welcome to the Main Menu</h1>
    
    <ul>
        <li><a href="/SomePage">Link to Some Page</a></li>
        <li><a href="/AnotherPage">Link to Another Page</a></li>
        <!-- Add more menu items as needed -->
    </ul>
</body>
</html>
