@page
@model aspnetapp.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #0058DC;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .centered-div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(149, 206, 247);
            padding: 20px;
            border-radius: 10px;
        }
        .register-form {
            width: 500px;
            margin: auto;
            padding: 20px;
            border: 1px solid rgb(149, 206, 247);
            border-radius: 5px;
            background-color: rgb(149, 206, 247);
            text-align: center;
            height: auto;
        }
        .register-form input[type="text"],
        .register-form input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        .register-form input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-top: 8px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="centered-div">
        <h1 >Register</h1>
        <div class="register-form">
            <form method="post">
                <label for="Username">Username:</label><br>
                <input type="text" id="Username" name="Username"><br>
                <label for="Email">Email:</label><br>
                <input type="text" id="Email" name="Email"><br>
                <label for="Password">Password:</label><br>
                <input type="password" id="Password" name="Password"><br>
                <label for="FirstName">FirstName:</label><br>
                <input type="text" id="FirstName" name="FirstName"><br>
                <label for="LastName">LastName:</label><br>
                <input type="text" id="LastName" name="LastName"><br>
                <label for="BirthDate">BirthDate:</label><br>
                <input type="text" id="BirthDate" name="BirthDate"><br>
                <input type="submit" value="Register">
            </form>
             @if (ViewData["AlertMessage"] != null)
            {
                <div class="alert">@ViewData["AlertMessage"]</div>
            }
        </div>
    </div>
</body>
</html>