name: chat-app

services:
  auth-service:
    build:
      context: ./auth-service
    depends_on:
      - auth-service-db
    networks:
      - main-network
      - auth-network
    ports:
      - "50051:50051"

  auth-service-db:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    networks:
      - auth-network
    ports:
      - "5001:5432" 

  active-sessions:
    build: ./active-sessions 
    ports: 
      - "8001:8001"
      - "50053:50053"
    depends_on: 
      - active-sessions-db 
    environment: 
      - REDIS_URL=redis://redis:6379 
    networks:
      - main-network
      - active-sessions-network
  
  active-sessions-db: 
    image: redis:latest 
    ports: 
      - "6379:6379"
    networks:
      - active-sessions-network

  browser-facade:
    build:
      context: ./browser-facade
    ports:
      - "5000:8080"
    networks:
      - main-network
    environment:
      - MainService__BaseAddress=http://main-service:50050
      
  main-service:
    build:
      context: ./main-service
    ports:
      - "50050:50050"
    networks:
      - main-network
    environment:
      - AUTH_ADDR=auth-service:50051
      - MSG_ADDR=message-data-centre:50051

  message-data-centre:
    build:
      context: ./message-data-centre
    ports:
      - "50052:50051"
    networks:
      - main-network
      - message-data-centre-network

  message-data-centre-db:
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: adminUser
      MONGO_INITDB_ROOT_PASSWORD: adminPassword
    volumes:
      - ./message-db/mongo-init-scripts:/docker-entrypoint-initdb.d
    ports:
      - "27017:27017"
    depends_on:
      - message-data-centre
    networks:
      - message-data-centre-network
    
networks:
  main-network:
    driver: bridge
  auth-network:
    driver: bridge
  active-sessions-network:
    driver: bridge
  message-data-centre-network:
    driver: bridge
